.reading-time-estimator {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
}

.reading-time-result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.reading-time-result *:not(strong) {
  color: rgba(var(--text-rgb), 0.5);
}
